.navbar{
  --dark-bg: #{$navbar-bg};
  --light-bg: #{$navbar-bg-light};
  --height: #{$navbar-height};
  --shadow: #{$navbar-shadow};

  transition: all 300ms linear;
  height: var(--height);
  &-auth{
    
  }
}