.navbar{
  --dark-bg: #{$navbar-bg};
  --light-bg: #{$navbar-bg-light};
  --height: #{$navbar-height};
  --shadow: #{$navbar-shadow};
  transition: all 300ms linear;
  height: var(--height);
  &-private{
    background-color: var(--light-bg);
    border-bottom: 1px solid $gray-200;
  }

  &-center{
    position: absolute;
    left:0;
    right:0;
    .navbar-nav{
      align-items: center;
      justify-content: center;
      li{
        margin:0 15px
      }
    }
  }

  &-brand{
    display: flex;
    align-items: center;
    justify-content: center;

    @include nested(".sidebar-admin"){
     color:$white ;
     padding:20px;
     min-height: $navbar-height;
    }
  }


}