.avatar{
  &.square{
    border-radius: 20px;
  }
  &.rounded{
        border-radius: 50px; 
  }
  @each $k,$v in $image-sizes{
    &-#{$k}{
      min-width:$v;
      min-height:$v;
      max-width: $v;
      img{max-width: 100%;}
    }
  }
}