.form-control{
  padding: 0 12px;
  display: flex;
  align-items: center;
  > input{
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 5px;
    background-color: transparent;
    &:focus {
      background-color: transparent;
    }
  }
  &:hover{
    border-color: $primary;
  }
   &:focus-within {
    background-color: $gray-100;
  }
}

.form-textarea{
  padding:0;
  textarea{padding:10px; border:0;width: 100%; border-radius: 5px;
  &:focus{
    border:none;
    outline:none
  }}
}